body{
    background: #fff;
}
p{
    margin: 10px 0 !important;
}
.container-login{
    width: 450px;
    margin-top: 90px;
    text-align: center;
}
.sidenav-heading{
    margin-left: 21px !important;
    color: black !important;
    font-weight: bold !important;
}
.head-section{
    background-color: #ccc !important;
}